<!DOCTYPE html>
<html ng-app="links">
<head>
  <title>Comments</title>
  <%= stylesheet_link_tag    "application.css", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap2.css", :media => "all" %>
  <%= stylesheet_link_tag    "custom.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "links.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<%= yield %>
</div>
</body>
</html>
